*{
    margin: 0;
    padding: 0;
    font-family:"Monstserrat",sans-serif;
}

body{
    background-image: url(../images/photo-1484176141566-3674cda218f0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:"Monstserrat",sans-serif;
    overflow-x: hidden;
}
/*--------------Header----------------*/
header{
    margin: 5px;
    width: 95%;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 30px 30px;
    position: fixed;
    z-index: 1;
}

header .left-menu{
    display: flex;
}

header .left-menu .links{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 50px;
}

header .left-menu .links a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    margin-right: 20px;
}

header .left-menu .links a:hover{
    color: #e1ad01;
}

header .left-menu .links a #ticket{
    background-color:#e1ad01 ;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

header .left-menu .links a #ticket:hover{
    background-color: #d9bf6c;
}


header .right-menu{
    display: flex;
    justify-content: right;
    align-items: center;
}

header .right-menu a{
    padding: 0 10 px;
    text-decoration: none;
    color: white;
}

header .right-menu a:hover{
    color: #e1ad01;
}

header .right-menu .dash{
    color: white;
    padding: 0 10px;
}

header .right-menu .register a{
    background-color:#e1ad01 ;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

header .right-menu .register a:hover{
    background-color: #d9bf6c;
}

/*---------logo-----------*/
.logo a{
    text-decoration: none;
}
.logo a h1{
    color: white;
}
.logo a h1 span{
    color: red;
}

/* Slider */
.slide-container{
    height: 70%;
}

slider{
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

slider > *{
    position: absolute;
    display: flex;
    width: 100%;
    height: 85%;
    animation: slide 20s infinite;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: 0s;
    background-size: cover;
}

slide:nth-child(2){
    left: 100%;
    animation-delay: 5s;
    background-size: cover;
}

slide:nth-child(3){
    left: 100%;
    animation-delay: 10s;
    background-size: cover;
}

slide:nth-child(4){
    left: 100%;
    animation-delay: 15s;
    background-size: cover;
}

@keyframes slide{
    0%{left:100%; width:100%}

    5%{left: 0%;}

    25%{left: 0%;}

    30%{left: -100%; width: 100%;}

    30.0001%{left: -100%; width: 0%;}

    100%{left: 100%; width: 0%;}

}

/* search */
.search{
    position: relative;
    padding: 65vh 60vh 0 60vh ;
    display: flex;
    
}

.search-box{
    width: 85%;
    padding: 0.8rem 1rem;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
}

.search-btn{
    padding: 0.8rem 1rem;
    border-radius: 50px;
    background-color: #e1ad01;
    font-weight: bold;
    border: none;
    margin-left: 10px;
}

.search-btn:hover{
    cursor: pointer;
    background-color: #d9bf6c;
    color: black;
}

/*--Movie page btns----*/
.movie-btns button{
    padding: 0.8rem 1rem;
    border-radius: 50px;
    background-color: #e1ad01;
    font-weight: bold;
    border: none;
    margin-left: 10px;
}

.movie-btns button:hover{
    cursor: pointer;
    background-color: #d9bf6c;
    color: black;
}

/*-----------Main header 01 (Now showing)----------*/
.first-header{
    padding-top: 20vh;
}
.now-showing{
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 200px;
}

.tr-movie{
    margin: 10px;
    margin-top: 20px;
}
.tr-movie img{
    width: 200px;
    height: 300px;
    border: solid;
    border-color: white;
}

.more-btn button{
    padding: 10px 20px;
    margin: 15px 30px;
    background-color: #e1ad01;
    font-weight: bold;
    border-radius: 50px;
}

.more-btn button:hover{
    cursor: pointer;
    background-color: #d9bf6c;
}


/*-------------------Footer------------------*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
}
footer .top-main{
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
}


/* Style font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }

/* twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
  }

/* instagram */
.fa-instagram{
    background: #E1306C;
    color: white;
}


footer .top-main .left-main ul{
    list-style: none;
    margin-top: 20px;
}
footer .top-main .left-main ul li{
    margin-top: 10px;
}
footer .top-main .left-main ul li a{
    text-decoration: none;
    color: white;
}

footer .top-main .left-main ul li a:hover{
    color: #e1ad01;
}

footer .bottom-main{
    display: flex;
    background-color: #3a3a3a;    
    padding: 20px 30px;
    justify-content: space-between;
    color: white;
}

footer .bottom-main .privacy a{
    text-decoration: none;
    color: white;
}

footer .bottom-main .privacy a:hover{
    color: black;
} 

/* .back-photo{
    width: 100%;
    height: 100%;
    margin-top: 0;
} */